**/*.txt
!vendor/modules.txt
**/*.md
**/Makefile
**/LICENSE*
**/.gitignore
**/*.y(ml|aml)
**/*.sh
!**/docker-entrypoint.sh
**/AUTHORS*
**/CONTRIBUTORS*
**/PATENTS*
**/*_test.go
**/NOTICE*
**/.readme.tmpl
